# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.user.js text eol=lf

# Markdown
*.md text eol=lf

# JSON
*.json text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary
